.formulaGenerator {
  border: 5px solid gray;
}
.args-container {
  width: 80px;
}
.table {
  width: fit-content;
}
.functionBoxGeneral {
  width: 100%;
}
.childFunctionBoxGeneral {
  width: 100%;
}
.ifFunctionBox {
  border: solid 2px #000;
  background: darkkhaki;
}
.simpleFunctionBox {
  border: solid 2px #000;
  background: palegreen;
}
.andFunctionBox {
  border: solid 2px #000;
  background: darkcyan;
}
.orFunctionBox {
  border: solid 2px #000;
  background: darkred;
}
.roundFunctionBox {
  border: solid 2px #000;
  background: lightblue;
}