<p>formula-generator works!</p>

<select id="FunctionSelect" name="FunctionSelect" [(ngModel)]="selectedFunction" (change)="checkArgsNumber(this.selectedFunction)">
    <option hidden value='-1'>Choose function type</option>
    <!-- Below line will be looped through the keys and for every key, set label as value from enum pair and key as value attribute of <option> tag-->
    <option *ngFor="let key of functionTypeEnum | enumToArray" [value]="functionTypeEnum[key]" [label]="key"></option>
</select>
<label>Number of arguments</label>
<input type="number" id="NumberOfArgs" min="0" [value]="numberOfArgs" [disabled]="!isEditable">
<button id="AddFunctionBtn" (click)="addFunction()">Add</button>

<mat-form-field>
    <mat-label>Number of arguments</mat-label>
    <input matInput appearance="fill" id="NumberOfArgs" min="0" [value]="numberOfArgs" [disabled]="!isEditable">
</mat-form-field>

<div *ngIf="formulaExists">
    <form onsubmit="submitFormula()">
        <table>
            <div class="row">
                <div class="formulaGenerator" id="formulaGenerator" [innerHtml]="htmlValue | safe: 'html'"></div>
            </div>
        </table>

        <button class="button" type="submit">Generate</button>
    </form>
</div>