<p>formula-validator works!</p>
<br>
<input type="text" id='formula' name='formula' #formula>
<button (click)="validate(formula.value)">Check</button>
<br>
<br>
<br>
<br>
<br>
<h3>{{ errorMsg }}</h3>
<h2>Functions List</h2>
<ul>
  <ng-template #recursiveList let-revitResponse>
    <li *ngFor="let item of revitResponse">
      {{item.FunctionTypeName}}
      <ul *ngIf="item.ChildFunctions.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.ChildFunctions }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: revitResponse }"></ng-container>
</ul>
