<p>formula-validator works!</p>
<br>
<input type="text" id='formula' name='formula' #formula>
<button (click)="validate(formula.value)">Check</button>
<br>
<br>
<br>
<br>
<br>
<h3>{{ errorMsg }}</h3>

<div *ngIf="revitResponse?.length > 0">
    <div>
        <div *ngFor="let function of revitResponse">
            <table>
                <th>FunctionType</th>
                <th>FunctionTypeName</th>
                <tbody>
                    <td>{{function.functionType}}</td>
                    <td>{{function.functionTypeName}}</td>
                </tbody>
            </table>
            <div *ngIf="function.childFunctions?.length > 0">
                <div *ngFor="let item of function.childFunctions">
                    <table>
                        <th>ChildFunctionType</th>
                        <th>ChildFunctionTypeName</th>
                        <tbody>
                            <td>{{item.functionType}}</td>
                            <td>{{item.functionTypeName}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>